<!DOCTYPE html>
<html lang="{{ .Site.LanguageCode }}">
  <head>
<title>noRth 2019: an R user conference for the Twin Cities </title>
<meta name="description" content="noRth is aimed at intermediate to advanced R users and consists of a half-day (optional) short course and a day of interactive talks. ">
<meta http-equiv="content-type" content="text/html;charset=UTF-8">
</head>
  {{ partial "header.html" . }}
  <body>
    {{ partial "body-top" . }}
    <main>

      <!-- About -->
      {{ partial "about.html" . }}
      
      <!-- Gallery -->
      {{ if not (eq (len (where .Data.Pages "Section" "gallery")) 0) }}
        {{ partial "gallery.html" . }}
      {{ end }}

      <!-- Contact -->
      {{ partial "contact.html" . }}
      
      <!-- Blog -->
      {{ if not (eq (len (where .Data.Pages "Section" "blog")) 0) }}
        {{ partial "blog.html" . }}
      {{ end }}

    </main>
    {{ partial "footer.html" . }}
    {{ partial "body-bottom" . }}
  </body>
</html>
