<!DOCTYPE html>
<html lang="{{ .Site.LanguageCode }}">
  {{ partial "header.html" . }}
  <body>
    {{ partial "body-top" . }}
    <main>

      <!-- About -->
      {{ partial "about.html" . }}
      
      <!-- Gallery -->
      {{ if not (eq (len (where .Data.Pages "Section" "gallery")) 0) }}
        {{ partial "gallery.html" . }}
      {{ end }}

      <!-- Contact -->
      {{ partial "contact.html" . }}
      {{ partial "gallery2.html" . }}
      {{ partial "gallery3.html" . }}
      {{ partial "gallery4.html" . }}

      <!-- Blog -->
      {{ if not (eq (len (where .Data.Pages "Section" "blog")) 0) }}
        {{ partial "faq.html" . }}
        {{ partial "blog.html" . }}
      {{ end }}

    </main>
    {{ partial "footer.html" . }}
    {{ partial "body-bottom" . }}
  </body>
</html>
