<style>

table.table { width: 100%; }

.table th, .table td { 
  text-align: left; 
  padding: 0.25em;
}

td.first{
    background-color: darkblue;
    color: white;
}

td.firstbreak{
    background-color: #b700b7;
    color: white;
}

.table tr { 
  border-bottom: 1px solid #DDD;
}

@media screen and (max-width: 800px) {
  tr { 
    display: flex; 
    flex-direction: row;
    flex-wrap: wrap;
    margin: 0.5em 0;
    border: 1px solid rgba(255,255,255, 0.9);
  }
  td, th {
    flex: 1 1 150px;
    border: 0.5px solid rgba(255,255,255, 0.9);
  }
  td.edit-buttons, td.empty {
    /*flex: 1 0 90%;
    text-align: center;*/
  }
}

* { box-model: border-box; }
</style>

